<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../../../../../Frontend\node_modules/normalize.css/normalize.css" rel="stylesheet" />
    <link href="../../../../../../Frontend\node_modules/@blueprintjs/core/lib/css/blueprint.css" rel="stylesheet" />
    <link href="../../../../../../Frontend\node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css" rel="stylesheet" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />

<button type="button" class="bp4-button bp4-icon-add .modifier" :modifier>Button</button>

</body>
</html>